{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Stuff_list</title>
    <link rel="stylesheet" href="https://code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
    <link rel="stylesheet" href="{% static "css/base.css" %}">
    <link rel="stylesheet" href="{% static "css/paginator.css" %}">
    <link rel="stylesheet" href="{% static "css/stuff_list.css" %}">
    <link rel="stylesheet" href="{% static "css/stuff_filter.css" %}">

    <script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
    <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.min.js"></script>
    <script>
        $(function() { $( "#id_data_start, #id_data_finish" ).datepicker({changeMonth: true, changeYear: true, yearRange: "1900:2030"}); });
    </script>
</head>
<body>
    <div class="stuff_list_wrapper">
        <h1>Список стаффа</h1>
        <table class="stuff_list">
            <tr>
                <th>{{ stuff.count }}</th>
                <th>Название лота</th>
                <th>Описание лота</th>
                <th>Категория</th>
                <th>Цена</th>
                <th>Пересыл</th>
                <th>Город</th>
                <th>Дата</th>
                <th>Теги</th>
            </tr>
            {% for stuff in stuff_list%}
                <tr>
                    <td >
                        <a href="{{ stuff.lot_url }}" target="_blank">
                            {% if stuff.vk_image_tumb_url %}<img src="{{ stuff.vk_image_tumb_url }}" alt="FOTO{{stuff.id}}" height="150" width="200">{% endif %}
                        </a>
                    </td>
{#                    инлайн стили выноси в css #}
                    <td style="width: 200px;"><a href="/admin/marketplace/stuff/{{ stuff.pk }}/change/" target="_blank">{{ stuff.title }}</a></td>
                    <td>{{ stuff.description }}</td>
                    <td>{{ stuff.stuff_subcategory }}</td>
                    <td>{{ stuff.price }}</td>
                    <td>{{ stuff.get_forwarding_display }}</td>
                    <td>{{ stuff.city }}</td>
                    <td style="width: 200px;">{{ stuff.date }}</td>
                    <td style="width: 200px;">
                        {% for tag in stuff.tags.names %}
                            <a href="{% url "home" %}?tag={{ tag|urlencode }}">{{ tag }}</a>{% if not forloop.last %}, {% endif %}
                        {% endfor %}
        {#                Был очень странный цикл. #}
        {#                {% with names=stuff.tags.names %}#}
        {#                    {% if names.count > 0 %}#}
        {#                        <p>Теги: {%for name in names %}{% if not forloop.first %}, {% endif %}#}
        {#                        <a href="{% url "home" %}?tag={{ name|urlencode }}">{{ name }}</a>{% endfor %}</p>#}
        {#                    {% endif %}#}
        {#                {% endwith %}#}
                    </td>
                </tr>
            {% endfor %}
        </table>
    </div>
    <div class="stuff_filter">
        <h3>Фильтр:</h3>
        <form method="get" action="{% url "search_page" %}">
            {{ form }}
            <button class="stuff_filter_submit" type="submit">Найти</button>
        </form>
    </div>
    {% if is_paginated %}{% include "marketplace/inc-paginator.html" %}{% endif %}
</body>
</html>